/* 전체 바디입니다, 헤더를 생각해 padding-top을 줬습니다 */
body {
    margin: 0;
    padding-top: 56px;
    background-color: #181818;
}

/* 전체 메인입니다, 사이드바의 길이를 생각해 marin-left를 줬습니다 */
.main {
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-right: 20px;
}

/* 메인 섹션에 대한 부분입니다, 컴포넌트간 간격을 생각해 padding으로 조절했습니다 */
.main-section {
    padding: 10px 20px 20px 20px;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 20px;
    color: white;
}

/* 쇼츠 비디오의 크기입니다 */
.shorts-video {
    width: 431px;
    height: 766px;
    border-radius: 20px;
}

/* 우측 버튼들에 대한 디자인입니다 */
.addition-button-image {
    width: 48px;
    height: 48px;
    background-color: rgb(65, 65, 65);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 우측 버튼에 대한 호버 디자인입니다 */
.addition-button-image:hover {
    background-color: rgb(137, 137, 137);
}

/* 버튼들에 대한 asset 이미지 디자인입니다 */
.addition-image {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* 채널 버튼에 대한 디자인입니다 */
.addition-button-channel {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 0.5px solid #000;
    background-color: #fff;
}

/* 버튼들에 대한 리스트 디자인입니다 */
.addition-button-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* 각 버튼들에 해당하는 디자인입니다 */
.addition-button {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* 내부 글자 디자인입니다 */
p {
    padding: 0;
    margin: 0;;
}

/* 쇼츠 제목 전체에 대한 부모 컴포넌트 디자인입니다 */
.shorts-title {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
    margin-bottom: 32px;
}

/* 채널 디자인입니다 */
.shorts-title-channel {
    font-size: 16px;
    display: flex;
    gap: 8px;
    align-items: center;

}

/* 채널 이미지에 대한 디자인입니다 */
.channel-img {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    object-fit: contain;
    background-color: white;
}

/* 구독버튼 디자인입니다 */
.shorts-title-channel-sub {
    padding: 10px 16px;
    border-radius: 20px;
    color: black;
    background-color: white;
    font-size: 15px;
}

/* 외부 링크 디자인입니다 */
.shorts-title-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* 쇼츠 내용에 대한 제목입니다 */
.shorts-title-name {
    font-weight: 700;
    font-size: 20px;
}

/* 다음 버튼에 대한 디자인입니다 */
.next-arrow {
    width: 56px;
    height: 56px;
    top: 50%;
    right: 32px;              
    position: fixed;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

/* 다음 버튼을 호버시 디자인입니다 */
.next-arrow:hover {
    background-color: rgb(137, 137, 137);
    border-radius: 50%;
}