/* 전체 바디입니다, 헤더를 생각해 padding-top을 줬습니다 */
body {
    margin: 0;
    padding-top: 56px;
}

/* 임시 헤더에 대한 디자인입니다 */
.temp-header {
    display: flex;
    padding: 0px 16px;
    box-sizing: border-box;
    height: 56px;
    border-bottom: solid 1px black;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    

}

/* 임시 사이드바에 대한 스타일입니다 */
.temp-sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    width: 240px;
    height: calc(100vh - 56px);
    border-right: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* 전체 메인입니다, 사이드바의 길이를 생각해 marin-left를 줬습니다 */
.main {
    margin-left: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

/* 메인 섹션에 대한 부분입니다, 컴포넌트간 간격을 생각해 padding으로 조절했습니다 */
.main-section {
    padding: 10px 20px 20px 20px;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 20px;
}

/* 쇼츠 비디오의 크기입니다 */
.shorts-video {
    width: 431px;
    height: 766px;
    border-radius: 20px;
}

/* 우측 버튼들에 대한 디자인입니다 */
.addition-button-image {
    width: 48px;
    height: 48px;
    background-color: rgb(229, 228, 228);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addition-button-image:hover {
    background-color: rgb(137, 137, 137);
}

/* 버튼들에 대한 asset 이미지 디자인입니다 */
.addition-image {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* 채널 버튼에 대한 디자인입니다 */
.addition-button-channel {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 0.5px solid #000;
    background-color: #fff;
}

/* 버튼들에 대한 리스트 디자인입니다 */
.addition-button-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* 각 버튼들에 해당하는 디자인입니다 */
.addition-button {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* 내부 글자 디자인입니다 */
p {
    padding: 0;
    margin: 0;;
}

/* 쇼츠 제목 전체에 대한 부모 컴포넌트 디자인입니다 */
.shorts-title {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
    margin-bottom: 32px;
}

/* 채널 디자인입니다 */
.shorts-title-channel {
    font-size: 16px;
    display: flex;
    gap: 8px;
    align-items: center;

}

/* 채널 이미지에 대한 디자인입니다 */
.channel-img {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    object-fit: contain;
}

/* 구독버튼 디자인입니다 */
.shorts-title-channel-sub {
    border: 1px solid black;
    padding: 10px 16px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-size: 15px;
}

/* 외부 링크 디자인입니다 */
.shorts-title-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* 쇼츠 내용에 대한 제목입니다 */
.shorts-title-name {
    font-weight: 700;
    font-size: 20px;
}

.next-arrow {
    width: 56px;
    height: 56px;
    background-color: rgb(229, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.next-arrow:hover {
    background-color: rgb(137, 137, 137);
    border-radius: 50%;
}