body {
    margin: 0;
    padding-top: 56px;
}

.temp-header {
    display: flex;
    padding: 0px 16px;
    box-sizing: border-box;
    height: 56px;
    border-bottom: solid 1px black;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    

}

.temp-sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    width: 240px;
    height: calc(100vh - 56px);
    border-right: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.main {
    margin-left: 240px;
}

.main-section {
    padding: 10px 20px 20px 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.shorts-video {
    width: 431px;
    height: 766px;
    border-radius: 20px;
}

.addition-button-image {
    width: 48px;
    height: 48px;
    background-color: rgb(229, 228, 228);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addition-image {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.addition-button-channel {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 0.5px solid #000;
    background-color: #fff;
}

.addition-button-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.addition-button {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

p {
    padding: 0;
    margin: 0;;
}

.shorts-title {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
    margin-bottom: 32px;
}

.shorts-title-channel {
    font-size: 16px;
    display: flex;
    gap: 8px;
    align-items: center;

}

.channel-img {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    object-fit: contain;
}

.shorts-title-channel-sub {
    border: 1px solid black;
    padding: 10px 16px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-size: 15px;
}

.shorts-title-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.shorts-title-name {
    font-weight: 700;
    font-size: 20px;
}