.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #181818;
    color: white;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
    padding: 8px;
    border-radius: 24px;
}

.hamburger-menu:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.youtube-logo {
    height: 70px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: #323232;
    border: none;
    margin-left: -1px;
    margin-right: 10px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    cursor: pointer;
}

.search-bar {
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color: #121212;
    flex: 1;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    color: #fff;
}

.search-bar:focus {
    border: 1px solid #3ea6ff;
    outline: none;
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-icon {
    height: 25px;
}

.search-button,
.voice-search-button,
.upload-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.comment-action-btn .tooltip,
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px 4px 8px;
    bottom: -30px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    white-space: nowrap;
}

.comment-action-btn:hover .tooltip,
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip {
    opacity: 1;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: #323232;
    cursor: pointer;
}

.voice-search-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.voice-search-icon {
    height: 24px;
}

.upload-icon-container {
    cursor: pointer;
    border-radius: 18px;
    background-color: #323232;
    padding: 8px 12px;
    margin: 10px;
}

.upload-icon-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.upload-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
}

.right-section {
    margin-right: 20px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.notifications-icon-container {
    position: relative;
    cursor: pointer;
    padding: 8px;
    border-radius: 24px;
}

.notifications-icon-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.notifications-count {
    position: absolute;
    top: 4px;
    right: -4px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}